@import "modules/normalize";

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2rem 0;
  background: #ccc;
  color: #000;
  padding: 0.2rem 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
}

.page-block {
  padding-bottom: 118px;
}

@import "modules/sprite";
@import "modules/common";

.sl-nav {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  outline: 0;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  z-index: 80;
}

.sl-prev {
  @include sprite($link_prev);

  &:hover {
    @include sprite($link_prev_hover);
  }
}

.sl-next {
  @include sprite($link_next);

  &:hover {
    @include sprite($link_next_hover);
  }
}

.main-prev { left: 10px; }
.main-next { right: 10px; }

.client-prev, .contact-prev { left: 10px; }
.client-next, .contact-next { right: 10px; }

.overview-prev { left: 20px; }
.overview-next { right: 20px; }

@import "blocks/header";
@import "blocks/main_slider";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/portfolio_preview";
@import "blocks/clients";
@import "blocks/order";
@import "blocks/contact";
@import "blocks/footer";


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

