.clients-block {
  background: #fff;

  section {
    width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 34px;
    color: #1985b0;
    font-weight: 300;
    padding: 26px 0;
  }
}

.slider-clients-container {
  height: 100px;
  width: 800px;
  padding: 0 100px;
  margin: 0 auto;
  position: relative;
}

.slider-clients {
  overflow: hidden;
  width: 800px;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    float: left;
    height: 100px;
    width: 200px;
    overflow: hidden;

    &:hover img {
      margin-top: -100px;
    }
  }

  a {
    display: block;
  }
}