
.contacts-block {
  background: #fff;

  section {
    width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 34px;
    color: #1985b0;
    font-weight: 300;
    padding: 26px 0;
  }
}

.slider-contacts-container {
  width: 674px;
  margin: 0 auto;
  position: relative;
}

.contacts-slider {
  overflow: hidden;
}

.contact-item {
  text-align: center;
  font-size: 12px;
  color: #505050;
  float: left;
  width: 674px;
  height: 429px;

  h3 {
    font-size: 17px;
    color: #1985b0;
    font-weight: 400;
    padding: 20px 0 0 0;
  }

  p {
    margin-top: -2px;
  }

  nav {
    padding: 16px 62px 14px;

    a {
      color: #505050;
      font-size: 17px;
      line-height: 32px;
      float: right;
      text-decoration: none;

      &:first-child {
        float: left;
      }
    }
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;

    a {
      display: block;

      &.fb_link {
        @include sprite($fb_link);

        &:hover {
          @include sprite($fb_link_hover);
        }
      }

      &.in_link {
        @include sprite($in_link);

        &:hover {
          @include sprite($in_link_hover);
        }
      }

      &.vk_link {
        @include sprite($vk_link);

        &:hover{
          @include sprite($vk_link_hover);
        }
      }
    }
  }
}