footer {
  background: #737373;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  padding: 22px 0 16px;
  margin-top: -118px;

  p {
    line-height: 1;
    margin: 0;
    padding: 8px 0;

    &.copyrights {
      padding: 8px 0 32px;
      background: url(../img/common/footer_img.png) no-repeat 50% 100%;
    }
  }
}