.logo {
  float: left;
  padding-top: 15px;

  a {
    display: block;
    outline: none;
    @include sprite($logo);
  }
}

header {
  background: #0f2128;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  section {
    width: 1000px;
    margin: 0 auto;

    & > a {
      float: right;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
  }

  ul {
    float: right;
    list-style: none;
    padding: 12px 14px 12px 0;
    margin: 0;
  }

  li {
    float: left;
    margin: 0 9px;
    border-left: 1px transparent solid;
    border-right: 1px transparent solid;

    a {
      display: block;
      line-height: 30px;
      padding: 0 7px;
      border-left: 1px transparent solid;
      border-right: 1px transparent solid;

      &:hover {
        color: #414f54;
      }
    }

    &.active {
      border-left: 1px #0b191f solid;
      border-right: 1px #0b191f solid;

      a {
        display: block;
        line-height: 30px;
        border-left: 1px #414f54 solid;
        border-right: 1px #414f54 solid;
        color: #414f54;
      }
    }
  }

  .btn {
    margin: 14px 20px 0 0;
  }

  .lang {
    margin-top: 20px;
  }
}