.slider-block {
  background: url(../img/common/slider_block.jpg) no-repeat 50% 0 #1389bb;
  height: 649px;
}

.slider-container {
  padding-top: 85px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.slide-item {
  height: 563px;
  width: 1000px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;

  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: #ffffff;
  }

  p {
    font-weight: 400;
  }

  span {
    font-weight: 300;
  }

  ul {
    padding: 0 0 8px 20px;
  }

  li {
    padding-bottom: 16px;
  }

  .btn-primary {
    margin-left: 20px;
  }
}

.slide-1 {
  background: url(../img/sliders/main/slide_1.png) no-repeat 0 0;

  h1 {
    padding: 342px 0 0;
  }
}

.slide-2 {
  background: url(../img/sliders/main/slide_2.png) no-repeat 0 0;
}

.slide-3 {
  background: url(../img/sliders/main/slide_3.png) no-repeat 0 0;
}

.slide-2, .slide-3 {
  padding-left: 500px;

  h1 {
    text-align: left;
    padding-bottom: 10px;
  }
}

.main-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 14px 0;
  line-height: 0;
  border-top: 1px rgba(0, 0, 0, .4) solid;
  background-image: radial-gradient(ellipse farthest-side at center top, rgba(255, 255, 255, .06) 0%, transparent 100%);

  &:before {
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .2);
  }

  a {
    background: rgba(255, 255, 255, .5);
    text-indent: -9999px;
    text-transform: capitalize;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    border-radius: 5px;

    &:hover, &.active {
      background: rgba(0, 0, 0, .4);
    }
  }
}