.order-block {
  background: url("../img/common/bg_order.jpg") no-repeat 50% 0 #1389bb;

  section {
    width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 300;
    padding: 46px 0 30px;
  }

  nav {
    text-align: center;
    padding-bottom: 8px;
    min-height: 88px;

    p {
      color: #ffffff;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .btn-primary {
    padding: 5px 32px 5px;

  }
}

.form-wrapper {
  background: url("../img/common/order_bg.png") no-repeat 0 0;
  padding: 31px 36px 0 36px;
  width: 777px;
  height: 334px;
  margin: 0 auto;

  .form-side:first-child {
    float: left;
    width: 304px;
    margin-right: 86px;
  }

  .form-side:last-child {
    overflow: hidden;
  }
}

.form-el-wrap {
  border: 1px #cdcdcd solid;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;

  input, textarea {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
  }

  textarea {
    resize: none;
    height: 180px;
  }
}

label {
  display: block;
  font-size: 12px;
  color: #1985b0;
  margin-bottom: 8px;

  span {
    color: #ec2b32;
  }

  b {
    color: #505050;
  }
}