.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  transition: opacity .25s ease-in-out;

  opacity: 0;
  z-index: -1;

  /*opacity: 1;
  z-index: 120;*/
}

.portfolio-preview {
  overflow: hidden;

  .overlay {
    z-index: 120;
    opacity: 1;
  }
}

.preview-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 140;

  width: 900px;
  height: 528px;
  background: #e9edf1;

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: #1985af;
    font-weight: 400;
    padding: 18px 14px 20px;
    margin: 0 0 16px 0;
    position: relative;

    &:before, &:after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 5;
    }

    &:before {
      bottom: 1px;
      border-top: 1px #d7dade solid;
    }

    &:after {
      bottom: 0;
      border-top: 1px #ffffff solid;
    }
  }

  p {
    color: #4f4f4f;
    font-size: 17px;
    line-height: 21px;
    padding: 0 14px 18px;
    font-weight: 300;
  }

  aside {
    float: left;
    width: 606px;
    height: 528px;
    position: relative;
  }

  section {
    width: 294px;
    margin-left: 606px;

    a {
      line-height: 22px;
      text-decoration: none;
      font-weight: 300;
      color: #505050;

      &:before {
        width: 17px;
        height: 17px;
        content: "";
        float: left;
        margin: 2px 10px 0 14px;
        @include sprite($ico_link);
      }

      &:hover {
        color: #1985b0;
        &:before {
          @include sprite($ico_link_hover);
        }
      }
    }
  }
}

.close {
  color: #fff;
  font: 40px/100% arial, sans-serif;
  position: absolute;
  right: -36px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  top: -40px;
  z-index: 140;

  &:after {
    content: '×'; /* UTF-8 symbol */
  }
}


