.portfolio {
  background: #e9edf1;

  section {
    width: 1000px;
    margin: 0 auto;
  }

  nav {
    position: relative;

    &:before, &:after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 5;
    }

    &:before {
      margin-top: -1px;
      border-top: 1px #c6cacd solid;
    }

    &:after {
      border-top: 1px #ffffff solid;
    }
  }
}

.portfolio-nav {
  position: relative;
  z-index: 10;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    background: #e9edf1;
    display: inline-block;
    padding: 0 10px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  .btn-primary {
    background: none;
    color: #4f4f4f;
    border-color: #c4c8cb;

    &:hover, &.active {
      color: #6cafca;
      border-color: #6cafca;
    }
  }
}

.portfolio-list {
  overflow: hidden;
  margin: 0;
  padding: 24px 28px;
  list-style: none;

  li {
    float: left;
    margin: 12px 18px;
    border-bottom: 1px #c9cccf solid;

    &:hover figcaption {
      top: 0;
    }
  }

  figure {
    padding: 0;
    margin: 0;
    background: #fff;
    border: 4px #fff solid;
    position: relative;
    overflow: hidden;
  }

  figcaption {
    position: absolute;
    top: 228px;
    width: 270px;
    height: 219px;
    left: 0;
    background: rgba(0, 0, 0, .7);
    transition: top 0.2s ease-out 0.05s;
  }

  a {
    display: block;
    width: 100%;
    min-height: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -17px 0 0 -29px;
      opacity: 0.8;
      @include sprite($preview);
    }
  }
}