.service-block {

  section {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 16px;
  }

  hr {
    border-top: 1px #d9d9d9 solid;
    height: 0;
    margin: 0;

    & + .features-list span {
      margin-top: 20px;
    }
  }
}

.features-list {
  table-layout: fixed;
  display: table-row;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: table-cell;
    width: 250px;
  }

  p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 2px 0 30px 0;
  }

  span {
    margin: 0 auto;
    display: block;

    &:hover {
      cursor: pointer;
    }

    &.feature_1 {
      @include sprite($feature_1);
      &:hover {
        @include sprite($feature_1_hover);
      }
    }

    &.feature_2 {
      @include sprite($feature_2);
      &:hover {
        @include sprite($feature_2_hover);
      }
    }

    &.feature_3 {
      @include sprite($feature_3);
      &:hover {
        @include sprite($feature_3_hover);
      }
    }

    &.feature_4 {
      @include sprite($feature_4);
      &:hover {
        @include sprite($feature_4_hover);
      }
    }

    &.feature_5 {
      @include sprite($feature_5);
      &:hover {
        @include sprite($feature_5_hover);
      }
    }

    &.feature_6 {
      @include sprite($feature_6);
      &:hover {
        @include sprite($feature_6_hover);
      }
    }

    &.feature_7 {
      @include sprite($feature_7);
      &:hover {
        @include sprite($feature_7_hover);
      }
    }

    &.feature_8 {
      @include sprite($feature_8);
      &:hover {
        @include sprite($feature_8_hover);
      }
    }
  }
}