h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 35px;
  line-height: 39px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 46px 0 40px 0;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  border-top: 2px #33bef2 solid;
  border-bottom: 2px #166c8c solid;
  background: linear-gradient(#00ABEA, #0086b8);
  line-height: 17px;
  padding: 3px 11px;

  &:hover {
    border-top: 2px #0086b8 solid;
    background: linear-gradient(#0086b8, #00ABEA);
  }
}

.btn-primary {
  background: rgba(9, 58, 86, .2);
  border: 1px #66b2d1 solid;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 18px 2px;

  &:hover {
      border-color: #ffffff;
      background: rgba(9, 58, 86, .6);
  }
}

.lang {
  display: block;
}

.ru {
  @include sprite($lang_ru);
}

.eng {
  @include sprite($lang_eng);
}