/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb_link-name: 'fb_link';
$fb_link-x: 0px;
$fb_link-y: 208px;
$fb_link-offset-x: 0px;
$fb_link-offset-y: -208px;
$fb_link-width: 32px;
$fb_link-height: 32px;
$fb_link-total-width: 154px;
$fb_link-total-height: 2482px;
$fb_link-image: '../img/common/sprite.png';
$fb_link: 0px 208px 0px -208px 32px 32px 154px 2482px '../img/common/sprite.png' 'fb_link';
$fb_link_hover-name: 'fb_link_hover';
$fb_link_hover-x: 0px;
$fb_link_hover-y: 488px;
$fb_link_hover-offset-x: 0px;
$fb_link_hover-offset-y: -488px;
$fb_link_hover-width: 32px;
$fb_link_hover-height: 32px;
$fb_link_hover-total-width: 154px;
$fb_link_hover-total-height: 2482px;
$fb_link_hover-image: '../img/common/sprite.png';
$fb_link_hover: 0px 488px 0px -488px 32px 32px 154px 2482px '../img/common/sprite.png' 'fb_link_hover';
$feature_1-name: 'feature_1';
$feature_1-x: 0px;
$feature_1-y: 2298px;
$feature_1-offset-x: 0px;
$feature_1-offset-y: -2298px;
$feature_1-width: 100px;
$feature_1-height: 80px;
$feature_1-total-width: 154px;
$feature_1-total-height: 2482px;
$feature_1-image: '../img/common/sprite.png';
$feature_1: 0px 2298px 0px -2298px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_1';
$feature_1_hover-name: 'feature_1_hover';
$feature_1_hover-x: 0px;
$feature_1_hover-y: 2090px;
$feature_1_hover-offset-x: 0px;
$feature_1_hover-offset-y: -2090px;
$feature_1_hover-width: 100px;
$feature_1_hover-height: 80px;
$feature_1_hover-total-width: 154px;
$feature_1_hover-total-height: 2482px;
$feature_1_hover-image: '../img/common/sprite.png';
$feature_1_hover: 0px 2090px 0px -2090px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_1_hover';
$feature_2-name: 'feature_2';
$feature_2-x: 0px;
$feature_2-y: 1570px;
$feature_2-offset-x: 0px;
$feature_2-offset-y: -1570px;
$feature_2-width: 100px;
$feature_2-height: 80px;
$feature_2-total-width: 154px;
$feature_2-total-height: 2482px;
$feature_2-image: '../img/common/sprite.png';
$feature_2: 0px 1570px 0px -1570px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_2';
$feature_2_hover-name: 'feature_2_hover';
$feature_2_hover-x: 0px;
$feature_2_hover-y: 1466px;
$feature_2_hover-offset-x: 0px;
$feature_2_hover-offset-y: -1466px;
$feature_2_hover-width: 100px;
$feature_2_hover-height: 80px;
$feature_2_hover-total-width: 154px;
$feature_2_hover-total-height: 2482px;
$feature_2_hover-image: '../img/common/sprite.png';
$feature_2_hover: 0px 1466px 0px -1466px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_2_hover';
$feature_3-name: 'feature_3';
$feature_3-x: 0px;
$feature_3-y: 842px;
$feature_3-offset-x: 0px;
$feature_3-offset-y: -842px;
$feature_3-width: 100px;
$feature_3-height: 80px;
$feature_3-total-width: 154px;
$feature_3-total-height: 2482px;
$feature_3-image: '../img/common/sprite.png';
$feature_3: 0px 842px 0px -842px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_3';
$feature_3_hover-name: 'feature_3_hover';
$feature_3_hover-x: 0px;
$feature_3_hover-y: 1258px;
$feature_3_hover-offset-x: 0px;
$feature_3_hover-offset-y: -1258px;
$feature_3_hover-width: 100px;
$feature_3_hover-height: 80px;
$feature_3_hover-total-width: 154px;
$feature_3_hover-total-height: 2482px;
$feature_3_hover-image: '../img/common/sprite.png';
$feature_3_hover: 0px 1258px 0px -1258px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_3_hover';
$feature_4-name: 'feature_4';
$feature_4-x: 0px;
$feature_4-y: 1154px;
$feature_4-offset-x: 0px;
$feature_4-offset-y: -1154px;
$feature_4-width: 100px;
$feature_4-height: 80px;
$feature_4-total-width: 154px;
$feature_4-total-height: 2482px;
$feature_4-image: '../img/common/sprite.png';
$feature_4: 0px 1154px 0px -1154px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_4';
$feature_4_hover-name: 'feature_4_hover';
$feature_4_hover-x: 0px;
$feature_4_hover-y: 1050px;
$feature_4_hover-offset-x: 0px;
$feature_4_hover-offset-y: -1050px;
$feature_4_hover-width: 100px;
$feature_4_hover-height: 80px;
$feature_4_hover-total-width: 154px;
$feature_4_hover-total-height: 2482px;
$feature_4_hover-image: '../img/common/sprite.png';
$feature_4_hover: 0px 1050px 0px -1050px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_4_hover';
$feature_5-name: 'feature_5';
$feature_5-x: 0px;
$feature_5-y: 2194px;
$feature_5-offset-x: 0px;
$feature_5-offset-y: -2194px;
$feature_5-width: 100px;
$feature_5-height: 80px;
$feature_5-total-width: 154px;
$feature_5-total-height: 2482px;
$feature_5-image: '../img/common/sprite.png';
$feature_5: 0px 2194px 0px -2194px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_5';
$feature_5_hover-name: 'feature_5_hover';
$feature_5_hover-x: 0px;
$feature_5_hover-y: 1674px;
$feature_5_hover-offset-x: 0px;
$feature_5_hover-offset-y: -1674px;
$feature_5_hover-width: 100px;
$feature_5_hover-height: 80px;
$feature_5_hover-total-width: 154px;
$feature_5_hover-total-height: 2482px;
$feature_5_hover-image: '../img/common/sprite.png';
$feature_5_hover: 0px 1674px 0px -1674px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_5_hover';
$feature_6-name: 'feature_6';
$feature_6-x: 0px;
$feature_6-y: 1362px;
$feature_6-offset-x: 0px;
$feature_6-offset-y: -1362px;
$feature_6-width: 100px;
$feature_6-height: 80px;
$feature_6-total-width: 154px;
$feature_6-total-height: 2482px;
$feature_6-image: '../img/common/sprite.png';
$feature_6: 0px 1362px 0px -1362px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_6';
$feature_6_hover-name: 'feature_6_hover';
$feature_6_hover-x: 0px;
$feature_6_hover-y: 1778px;
$feature_6_hover-offset-x: 0px;
$feature_6_hover-offset-y: -1778px;
$feature_6_hover-width: 100px;
$feature_6_hover-height: 80px;
$feature_6_hover-total-width: 154px;
$feature_6_hover-total-height: 2482px;
$feature_6_hover-image: '../img/common/sprite.png';
$feature_6_hover: 0px 1778px 0px -1778px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_6_hover';
$feature_7-name: 'feature_7';
$feature_7-x: 0px;
$feature_7-y: 1882px;
$feature_7-offset-x: 0px;
$feature_7-offset-y: -1882px;
$feature_7-width: 100px;
$feature_7-height: 80px;
$feature_7-total-width: 154px;
$feature_7-total-height: 2482px;
$feature_7-image: '../img/common/sprite.png';
$feature_7: 0px 1882px 0px -1882px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_7';
$feature_7_hover-name: 'feature_7_hover';
$feature_7_hover-x: 0px;
$feature_7_hover-y: 1986px;
$feature_7_hover-offset-x: 0px;
$feature_7_hover-offset-y: -1986px;
$feature_7_hover-width: 100px;
$feature_7_hover-height: 80px;
$feature_7_hover-total-width: 154px;
$feature_7_hover-total-height: 2482px;
$feature_7_hover-image: '../img/common/sprite.png';
$feature_7_hover: 0px 1986px 0px -1986px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_7_hover';
$feature_8-name: 'feature_8';
$feature_8-x: 0px;
$feature_8-y: 2402px;
$feature_8-offset-x: 0px;
$feature_8-offset-y: -2402px;
$feature_8-width: 100px;
$feature_8-height: 80px;
$feature_8-total-width: 154px;
$feature_8-total-height: 2482px;
$feature_8-image: '../img/common/sprite.png';
$feature_8: 0px 2402px 0px -2402px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_8';
$feature_8_hover-name: 'feature_8_hover';
$feature_8_hover-x: 0px;
$feature_8_hover-y: 946px;
$feature_8_hover-offset-x: 0px;
$feature_8_hover-offset-y: -946px;
$feature_8_hover-width: 100px;
$feature_8_hover-height: 80px;
$feature_8_hover-total-width: 154px;
$feature_8_hover-total-height: 2482px;
$feature_8_hover-image: '../img/common/sprite.png';
$feature_8_hover: 0px 946px 0px -946px 100px 80px 154px 2482px '../img/common/sprite.png' 'feature_8_hover';
$ico_link-name: 'ico_link';
$ico_link-x: 0px;
$ico_link-y: 117px;
$ico_link-offset-x: 0px;
$ico_link-offset-y: -117px;
$ico_link-width: 17px;
$ico_link-height: 17px;
$ico_link-total-width: 154px;
$ico_link-total-height: 2482px;
$ico_link-image: '../img/common/sprite.png';
$ico_link: 0px 117px 0px -117px 17px 17px 154px 2482px '../img/common/sprite.png' 'ico_link';
$ico_link_hover-name: 'ico_link_hover';
$ico_link_hover-x: 0px;
$ico_link_hover-y: 76px;
$ico_link_hover-offset-x: 0px;
$ico_link_hover-offset-y: -76px;
$ico_link_hover-width: 17px;
$ico_link_hover-height: 17px;
$ico_link_hover-total-width: 154px;
$ico_link_hover-total-height: 2482px;
$ico_link_hover-image: '../img/common/sprite.png';
$ico_link_hover: 0px 76px 0px -76px 17px 17px 154px 2482px '../img/common/sprite.png' 'ico_link_hover';
$in_link-name: 'in_link';
$in_link-x: 0px;
$in_link-y: 320px;
$in_link-offset-x: 0px;
$in_link-offset-y: -320px;
$in_link-width: 32px;
$in_link-height: 32px;
$in_link-total-width: 154px;
$in_link-total-height: 2482px;
$in_link-image: '../img/common/sprite.png';
$in_link: 0px 320px 0px -320px 32px 32px 154px 2482px '../img/common/sprite.png' 'in_link';
$in_link_hover-name: 'in_link_hover';
$in_link_hover-x: 0px;
$in_link_hover-y: 264px;
$in_link_hover-offset-x: 0px;
$in_link_hover-offset-y: -264px;
$in_link_hover-width: 32px;
$in_link_hover-height: 32px;
$in_link_hover-total-width: 154px;
$in_link_hover-total-height: 2482px;
$in_link_hover-image: '../img/common/sprite.png';
$in_link_hover: 0px 264px 0px -264px 32px 32px 154px 2482px '../img/common/sprite.png' 'in_link_hover';
$lang_eng-name: 'lang_eng';
$lang_eng-x: 0px;
$lang_eng-y: 38px;
$lang_eng-offset-x: 0px;
$lang_eng-offset-y: -38px;
$lang_eng-width: 22px;
$lang_eng-height: 14px;
$lang_eng-total-width: 154px;
$lang_eng-total-height: 2482px;
$lang_eng-image: '../img/common/sprite.png';
$lang_eng: 0px 38px 0px -38px 22px 14px 154px 2482px '../img/common/sprite.png' 'lang_eng';
$lang_ru-name: 'lang_ru';
$lang_ru-x: 0px;
$lang_ru-y: 0px;
$lang_ru-offset-x: 0px;
$lang_ru-offset-y: 0px;
$lang_ru-width: 22px;
$lang_ru-height: 14px;
$lang_ru-total-width: 154px;
$lang_ru-total-height: 2482px;
$lang_ru-image: '../img/common/sprite.png';
$lang_ru: 0px 0px 0px 0px 22px 14px 154px 2482px '../img/common/sprite.png' 'lang_ru';
$link_next-name: 'link_next';
$link_next-x: 0px;
$link_next-y: 602px;
$link_next-offset-x: 0px;
$link_next-offset-y: -602px;
$link_next-width: 36px;
$link_next-height: 36px;
$link_next-total-width: 154px;
$link_next-total-height: 2482px;
$link_next-image: '../img/common/sprite.png';
$link_next: 0px 602px 0px -602px 36px 36px 154px 2482px '../img/common/sprite.png' 'link_next';
$link_next_hover-name: 'link_next_hover';
$link_next_hover-x: 0px;
$link_next_hover-y: 662px;
$link_next_hover-offset-x: 0px;
$link_next_hover-offset-y: -662px;
$link_next_hover-width: 36px;
$link_next_hover-height: 36px;
$link_next_hover-total-width: 154px;
$link_next_hover-total-height: 2482px;
$link_next_hover-image: '../img/common/sprite.png';
$link_next_hover: 0px 662px 0px -662px 36px 36px 154px 2482px '../img/common/sprite.png' 'link_next_hover';
$link_prev-name: 'link_prev';
$link_prev-x: 0px;
$link_prev-y: 722px;
$link_prev-offset-x: 0px;
$link_prev-offset-y: -722px;
$link_prev-width: 36px;
$link_prev-height: 36px;
$link_prev-total-width: 154px;
$link_prev-total-height: 2482px;
$link_prev-image: '../img/common/sprite.png';
$link_prev: 0px 722px 0px -722px 36px 36px 154px 2482px '../img/common/sprite.png' 'link_prev';
$link_prev_hover-name: 'link_prev_hover';
$link_prev_hover-x: 0px;
$link_prev_hover-y: 782px;
$link_prev_hover-offset-x: 0px;
$link_prev_hover-offset-y: -782px;
$link_prev_hover-width: 36px;
$link_prev_hover-height: 36px;
$link_prev_hover-total-width: 154px;
$link_prev_hover-total-height: 2482px;
$link_prev_hover-image: '../img/common/sprite.png';
$link_prev_hover: 0px 782px 0px -782px 36px 36px 154px 2482px '../img/common/sprite.png' 'link_prev_hover';
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 158px;
$logo-offset-x: 0px;
$logo-offset-y: -158px;
$logo-width: 154px;
$logo-height: 26px;
$logo-total-width: 154px;
$logo-total-height: 2482px;
$logo-image: '../img/common/sprite.png';
$logo: 0px 158px 0px -158px 154px 26px 154px 2482px '../img/common/sprite.png' 'logo';
$preview-name: 'preview';
$preview-x: 0px;
$preview-y: 544px;
$preview-offset-x: 0px;
$preview-offset-y: -544px;
$preview-width: 58px;
$preview-height: 34px;
$preview-total-width: 154px;
$preview-total-height: 2482px;
$preview-image: '../img/common/sprite.png';
$preview: 0px 544px 0px -544px 58px 34px 154px 2482px '../img/common/sprite.png' 'preview';
$vk_link-name: 'vk_link';
$vk_link-x: 0px;
$vk_link-y: 376px;
$vk_link-offset-x: 0px;
$vk_link-offset-y: -376px;
$vk_link-width: 32px;
$vk_link-height: 32px;
$vk_link-total-width: 154px;
$vk_link-total-height: 2482px;
$vk_link-image: '../img/common/sprite.png';
$vk_link: 0px 376px 0px -376px 32px 32px 154px 2482px '../img/common/sprite.png' 'vk_link';
$vk_link_hover-name: 'vk_link_hover';
$vk_link_hover-x: 0px;
$vk_link_hover-y: 432px;
$vk_link_hover-offset-x: 0px;
$vk_link_hover-offset-y: -432px;
$vk_link_hover-width: 32px;
$vk_link_hover-height: 32px;
$vk_link_hover-total-width: 154px;
$vk_link_hover-total-height: 2482px;
$vk_link_hover-image: '../img/common/sprite.png';
$vk_link_hover: 0px 432px 0px -432px 32px 32px 154px 2482px '../img/common/sprite.png' 'vk_link_hover';
$spritesheet-width: 154px;
$spritesheet-height: 2482px;
$spritesheet-image: '../img/common/sprite.png';
$spritesheet-sprites: $fb_link $fb_link_hover $feature_1 $feature_1_hover $feature_2 $feature_2_hover $feature_3 $feature_3_hover $feature_4 $feature_4_hover $feature_5 $feature_5_hover $feature_6 $feature_6_hover $feature_7 $feature_7_hover $feature_8 $feature_8_hover $ico_link $ico_link_hover $in_link $in_link_hover $lang_eng $lang_ru $link_next $link_next_hover $link_prev $link_prev_hover $logo $preview $vk_link $vk_link_hover;
$spritesheet: 154px 2482px '../img/common/sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
